@use 'variables';
header:not(.tweet) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(variables.$nav-height + 256px + 5rem);
  width: 100%;
  padding-top: calc(1rem + variables.$nav-height);
  background-color: darkgoldenrod;
  background-image: url('../images/background-image.png');
}

h2 {
  margin: 0px;
  font-family: 'source sans 3', cursive;
  font-style: normal;
  color: #ffffff;
}

h-firstname {
  font-weight: 600;
}

h-lastname {
  font-weight: 300;
}

@media only screen and (max-width: 599px) {
  header:not(.tweet) {
    padding-top: 1rem;
    height: calc(256px + 5rem);
  }
}


@media only screen and (min-width: 600px) and (max-width: 1023px) {
  header:not(.tweet) {
    padding-top: 1rem;
    height: calc(256px + 5rem);
  }
}

@media only screen and (min-width: 1024px) {
  header:not(.tweet) {
    height: fit-content;
    margin-top: calc(variables.$nav-height + 4vh);
    margin-left: 3vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: fit-content;
    max-width: 400px;
  }
}