.new-tweet {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  width: 100%;
  flex-direction: column;
  align-self: center;
  background-color: #faf5e5;
}

//fonts for "compose tweet" and "what are you humming about"
.new-tweet h2, label[for=tweet-textarea], #tweet-textarea {
  font-family: 'source sans 3', cursive;
  font-style: normal;
  font-weight: 600;
  color: inherit;
}

.new-tweet >* {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tweet-textarea {
  width: 100%;
  height: 60.1875px;
  resize: none;
  border-width: 1px;
  padding: 0px 3px;
}

#tweet-textareaWrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 6px;
}

#tweet-buttoncounter {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
}

#tweet-buttoncounter [changeColor="red"] {
  color:#ff0000
}

#tweet-buttoncounter button {
  padding: 3px 6px 1px 6px;
  background-color: #4056a1;
  border-style: none;
  color: #ffffff;
}